In [2]:
print("hello world")

hello world

In [4]:
print ("whats good")
print("1")

whats good
1

In [5]:
print (2)
print(3)
print(4)

2
3
4

In [7]:
print ('hello',1<2)

hello True

In [11]:
x=9
if(x<1):
 print("okay")
else :
 print("alright")

alright

In [24]:
#data type number
a = 20
print(a)

20

In [25]:
a=[1,2,3]
print(a)

[1, 2, 3]

In [26]:
#string
a=("hello dikki")
print (a)

hello dikki

In [34]:
a=("what is good"+ " " +"and" + " " +"what is bad")
print (a)

what is good and what is bad

In [39]:
#list
f=[[1,2],6,7,8]
print(f)

[[1, 2], 6, 7, 8]

In [40]:
f=["hello",1,[1,9]]
print(f)

['hello', 1, [1, 9]]

In [42]:
#dictionary
z={1:"dog",2:"cat",3:"animal", 4:"rabbit"}
print (z)

{1: 'dog', 2: 'cat', 3: 'animal', 4: 'rabbit'}

In [46]:
x={1:1,  2:2}
print (x)

{1: 1, 2: 2}

In [49]:
c={"dog":1, "animal":2, "rabbit":3}
print (c)

{'dog': 1, 'animal': 2, 'rabbit': 3}

In [52]:
#boolean
a= True
print(a)

True

In [62]:
a = 5
if a>2:
  a= True
else:
  a= False
print(a)

True

In [5]:
a=6
print(a//6)

1

In [3]:
a=4//2
print(a)

2

In [4]:
a=4/2
print(a)

2.0

In [6]:
x=7
print(x//2)
#floar division

3

In [7]:
x=7
print(x/2)
#normal division

3.5

In [9]:
#complex
5+8j

(5+8j)

In [12]:
_ - 3j
#?

(-3+5j)

In [15]:
#arithmetic and relational operation
a=5
print("hello dikki",a >2)

hello dikki True

In [16]:
print("what is ", 6+2)

what is  8

In [20]:
#boolean expression

True and False

False

In [21]:
False and True

False

In [22]:
False and False

False

In [23]:
True and True

True

In [24]:
True or False

True

In [25]:
False or True

True

In [26]:
#list
a=[5,4,3,3,2]
print(a)

[5, 4, 3, 3, 2]

In [27]:
find=["nemo",1,2,3,5,"found"]
print(find)

['nemo', 1, 2, 3, 5, 'found']

In [29]:
v=[1,2,3,48,8,8,7,6,43,32]
print(v)

[1, 2, 3, 48, 8, 8, 7, 6, 43, 32]

In [30]:
len(v) #array size

10

In [31]:
v[5]

8

In [34]:
v[-6]

8

In [35]:
c=[[1,2],["heu"]]
print(c)

[[1, 2], ['heu']]

In [37]:
c[1]

['heu']

In [43]:
c[0][1]

2

In [45]:
c[0][0]=99
c

[[99, 2], ['heu']]

In [3]:
s = [1,2,45,6,7,23]
s[5] = 2
s
#replacing the value

[1, 2, 45, 6, 7, 2]

In [14]:
#slicing 
c=("hello","dikki","cat")
a=slice(0,1);
print(c[a])

('hello',)

In [17]:
d=("h","g","f","l","i","e","q")
a=slice(3,5)
print(d[a])

('l', 'i')

In [18]:
a=[1,2,3,4,5]
print(a[:5])

[1, 2, 3, 4, 5]

In [19]:
print(a[::3])

[1, 4]

In [25]:
a=[5,6,7,8,9]
a[0:2] # 0 as starting index - 2 as indexing index

[5, 6]

In [27]:
a[:3] #exits position at 3 that is 8

[5, 6, 7]

In [29]:
x=len(a)
a[3:x]# length size upto 4

[8, 9]

In [31]:
a[3:] #3 to its length size

[8, 9]

In [20]:
a=[5,6,7,8,9]
a[3:3] #starts and ends at the same so empty

[]

In [18]:
a=[5,6,7,8,9]
a[::2]# with the gap of one

[5, 7, 9]

In [38]:
a[1::2] # starts with the index of 1 that is 6 and gap of one

[6, 8]

In [39]:
a[1:2:2]

[6]

In [40]:
x=[[1,2,3],[2,3,4],[8,9,1]]
x[1:2]

[[2, 3, 4]]

In [23]:
x=[[1,2,3],[2,3,4],[8,9,1]]
x[:2]

[[1, 2, 3], [2, 3, 4]]

In [42]:
x[::2] #gap of 1

[[1, 2, 3], [8, 9, 1]]

In [43]:
x[1::2]# with no gaps it shows th starting index

[[2, 3, 4]]

In [45]:
x[::2]#gap of 1

[[1, 2, 3], [8, 9, 1]]

In [46]:
x[:2]#ends with 2 slice

[[1, 2, 3], [2, 3, 4]]

In [48]:
x[:2][:1] #question

[[1, 2, 3]]

In [53]:
z=[1,2,3,4,5]
z[::-2] #reverse with the gap of -1

[5, 3, 1]

In [69]:
l  =   [1,5,6,7]

l[0]  = 3

print(l)

[3, 5, 6, 7]

In [68]:
x = [2, 4, 6, 8]

x[3] = 1

print(x)

[2, 4, 6, 1]

In [70]:
z=[1,2,3,4,5]
z[3]=6
print(z)

[1, 2, 3, 6, 5]

In [75]:
g=[[1,2,3],[4,5,6],[7,8,9]]
g[1]=4,7,6
print(g) #replacing the number or change

[[1, 2, 3], (4, 7, 6), [7, 8, 9]]

In [76]:
odd[1:4] = [3,5,7]

print(odd) #?

[1, 3, 5, 7]

In [80]:
odd.append(14)
print(odd) #keeps on adding

[1, 3, 5, 7, 20, 20, 10, 14]

In [83]:
odd.extend([21,89])  #add
print(odd)

[1, 3, 5, 7, 20, 20, 10, 14, 21, 89]

In [84]:
a=[1,2]
b=[2,3]
a+b

[1, 2, 2, 3]

In [87]:
x=[1,2,3]
print(x+[9,10,11]) #ADD

[1, 2, 3, 9, 10, 11]

In [90]:
print(["r"]*2)

['r', 'r']

In [92]:
odd = [1, 9]
odd.insert(2, 3)

print(odd)

[1, 9, 3]

In [93]:
odd = [1, 9]
odd.insert(1, 3)

print(odd)

[1, 3, 9]

In [3]:
odd = [1, 9]
odd.insert(1, 3)

print(odd)

odd[2:2]=[5,7] #inserting at the empty slice of the list
print(odd)

[1, 3, 9]
[1, 3, 5, 7, 9]

In [32]:
letters=["a","b","c","d","e"]
del letters[3]
print(letters) 

del letters[0:1]#deleting the index ?
print(letters)

['a', 'b', 'c', 'e']
['b', 'c', 'e']

In [41]:
my_list = ['a', 'p', 'p', 'l', 'e', 'e']
my_list.remove('l')
print(my_list)

['a', 'p', 'p', 'e', 'e']

In [61]:
numbers=[3,2,1]
print(numbers.pop(2))
print(numbers) #removes

1
[3, 2]

In [62]:
print(numbers.pop())

print(numbers)

2
[3]

In [63]:
numbers[1:2] = [] #removes the the position at index

print(numbers)

[3]

In [64]:
numbers.clear()

print(numbers)   #removes all

[]

In [75]:
list = [1,5, 7, 6, 0, 7, 4]

# returns the index of the first matched item at the particular number 7
print(list.index(7))

2

In [77]:
# returns the count of number of items passed as an argument
print(list.count(7))

2

In [78]:
list.sort()

print(list)

[0, 1, 4, 5, 6, 7, 7]

In [79]:
list.reverse()

print(list)

[7, 7, 6, 5, 4, 1, 0]

In [83]:
test=["a","b","c","d"]
print(1 in test ) #checks the list and returns true or false

print ("d" in test)

False
True

In [84]:
my_list = [8, 9, 17, 18]
    
print(len(my_list))

print(max(my_list))

print(min(my_list))

print(sorted(my_list))

print(sum(my_list))

4
18
8
[8, 9, 17, 18]
52

In [ ]:
c=90 #If else condition
if c==90:
    print("it is 90")
elif c>90:
    print("no it is greater")
else:
    print("nah")

In [ ]:
i = 0
while i < 6:
    print(i)
    i = i + 1

In [1]:
i = 0 #while
while i < 6:
    print(i)
    i = i + 1

0
1
2
3
4
5

In [3]:
for i in [1,2,3]: #for condition
    print(i)

1
2
3

In [5]:
list = [1,2,3,4,3,4,2,3,5,6,2,1]
result=[]
for i in list:
    if i not in result:    #unique element in the list Q. Find the frequencey of elements from the given list.
d = [1,2,3,4,3,4,2,3,5,6,2,1]
        result.append(i)
print (result)

[1, 2, 3, 4, 5, 6]

In [23]:
mylist = [u'nowplaying', u'PBS', u'PBS', u'nowplaying', u'job', u'debate', u'thenandnow']
my = set(mylist)
print(my)        #unique element

{'PBS', 'nowplaying', 'thenandnow', 'job', 'debate'}

In [24]:
#slice the last two row
x = [[3,7,0],[1,9,9],[0,4,7]]
x[0]

[3, 7, 0]

In [25]:
S = 'I am learner'

print(S)
print(len(S))
print(S[3])
print(S[-2])
print(S[:-2])

I am learner
12
m
e
I am learn

In [15]:
T = S + 'zzz'
print(T)
print(S)

I am learnerzzz
I am learner

In [16]:
T = S * 8
print(T)

I am learnerI am learnerI am learnerI am learnerI am learnerI am learnerI am learnerI am learner

In [20]:
S = 'Spam'
#S[0] = 'z'

#S = 'z' + S[1:]

print(S)

Spam

In [27]:

del(list)

In [1]:
S="tsering"
l=list(S)
l

['t', 's', 'e', 'r', 'i', 'n', 'g']

In [3]:
l[1]="t"
l

['t', 't', 'e', 'r', 'i', 'n', 'g']

In [6]:
'k'.join(l)

'tktkekrkiknkg'

In [8]:
S.replace('s', 'T')

'tTering'

In [9]:
S

'tsering'

In [1]:
s = "Hello world! 123"
d=l=0
for c in s:
    if c.isdigit():
        d=d+1
    elif c.isalpha():
       l=l+1
    else:
       pass
print("Letters", l)
print("Digits", d)

Letters 10
Digits 3

In [2]:
line = 'aaa,bbb,ccc'
line.split(',')

['aaa', 'bbb', 'ccc']

In [6]:
joke='bag,pencil,copy'
joke.split(',') #space for the strings inside the bracket

['bag', 'pencil', 'copy']

In [7]:
joke.upper() #capital letter of the above words

'BAG,PENCIL,COPY'

In [8]:
line.isalpha()

False

In [13]:
apple = 19
banana = 12

text = f'I have {apple} apple and {banana} banana' #string formatting
print(text)

I have 19 apple and 12 banana

In [21]:
#Dictionary 
a={'foof':'spam' ,'quantity':4}#spam value stored at foof
print(a)

{'foof': 'spam', 'quantity': 4}

In [35]:
x = {}
x['name'] = 'Bobita'
x['age'] = 19
x

{'name': 'Bobita', 'age': 19}

In [20]:
a['foof'] #value stores gets access

'spam'

In [22]:
a['quantity'] += 1
a #quantity is added

{'foof': 'spam', 'quantity': 5}

In [ ]:
Q. Slice to get the last 2 columns of first 2 rows.
x = [[3,7,0],[1,9,9],[0,4,7]]

expected output: [[7,0],[9,9]]

In [28]:
x = [[3,7,0],[1,9,9],[0,4,7]]
a=x[0:2]
y=[]
for i in a:
 a=i[1:3]
 y.append(a)
 print(y)

[[7, 0]]
[[7, 0], [9, 9]]

In [ ]:
Q. Find the unique elements from the given list.
list = [1,2,3,4,3,4,2,3,5,6,2,1]

In [30]:
list = [1,2,3,4,3,4,2,3,5,6,2,1]
my = set(list)
print(my)

{1, 2, 3, 4, 5, 6}

In [37]:
l={}
l['ram']='shyam'
print(l)

{'ram': 'shyam'}

In [39]:
l[1]=2
print(l)

{'ram': 'shyam', 1: 2}

In [41]:
d = {'a':1, 'd':2, 'c':3, 'b':5}
d

{'a': 1, 'd': 2, 'c': 3, 'b': 5}

In [25]:
keys = list(d.keys())
print(keys)

keys.sort()
print(keys)

for k in keys:
    print(k, '=> ',d[k])

NameError: name 'd' is not defined

In [45]:
#Tuples
T = (1, 2, 3, 4, 4, 6, 6, 2, 3, 1)
len(T)

10

In [46]:
T + (5,6)

(1, 2, 3, 4, 4, 6, 6, 2, 3, 1, 5, 6)

In [47]:
T[2]

3

In [48]:
T[1:4]

(2, 3, 4)

In [52]:
#set
myset = {8, 2}
myset

{2, 8}

In [54]:
myset = {1,2,3,1,2,8,8,4}
myset

{1, 2, 3, 4, 8}

In [64]:
letsadd={'s','t'}
letsadd.add('z') #add
print(letsadd)

{'z', 's', 't'}

In [67]:
letsadd.update({10,9})
print(letsadd)

{'t', 8, 9, 10, 'z', 's'}

In [72]:
letsadd.remove(10)
print(letsadd)

{'t', 'z', 's'}

In [73]:
# common set operations
a = {2, 4, 5, 9}
b = {2, 4, 11, 12}

print(a.union(b))
print(a.intersection(b))
print(a.difference(b))

{2, 4, 5, 9, 11, 12}
{2, 4}
{9, 5}

In [74]:
#Lab2 workshop

In [75]:
#function
def hello():
    print("Hello World")
   
hello()

Hello World

In [76]:
def hello(name):
    print("Hello:", name, "!!!")

hello("people") #parametrized

Hello: people !!!

In [80]:
def hi():
    print("hi")
print(hi)

<function hi at 0x10914d488>

In [81]:
def hi():
    print("hi")
hi()

hi

In [84]:
def hi(guess):
 print("hi",guess,"@") #parameterized
hi("darkness")

hi darkness @

In [85]:
def hi(name, age=12):
    print("Hello:",name, "with age:", age)

hi("people")

Hello: people with age: 12

In [2]:
def hi(name, age=12):
    print("Hello:",name, "with age:", age)

hi("people",16)

Hello: people with age: 16

In [4]:
def hi(name,age):
    print("hi",name,age)
hi("dikki",23)

hi dikki 23

In [6]:
def return_value():
    a = 10
    b = 90
    return a + b

res = return_value()
print(res)

100

In [8]:
def return_multiple_value():
    a = 80
    b = 10
    return a+b, a-b, a*b

add, sub, mul = return_multiple_value()
print(add)
print(sub)
print(mul)  #multiple value return //array object binds(java)

90
70
800

In [12]:
#lambda function
def sum(a, b):
    return a + b

sum(15, 0)

15

In [11]:
# lamda function
add = lambda a, b: a + b 

add(9,6) #cannot replace complex functions

15

In [15]:
#range
for i in range(1, 5):
    print(i) #starting value to end value

1
2
3
4

In [17]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [18]:
#Q. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated string.¶

In [19]:
l=[]
for i in range(2000,3200):
  if(i%7==0)and (i%5 !=0):
    l.append(str(i))
print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [20]:
#Q. Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.

In [24]:
word="without,hello,bag,world"  
g=word.split(",")
print(",".join(sorted(g)))

bag,hello,without,world

In [22]:
#Q. Write a program that accepts a sentence and calculate the number of letters and digits.

In [23]:
s = "Hello world! 123"
d=l=0
for c in s:
    if c.isdigit():
        d=d+1
    elif c.isalpha():
       l=l+1
    else:
       pass
print("Letters", l)
print("Digits", d)

Letters 10
Digits 3

In [1]:
#print the even number from 7 to 71

In [8]:
l=[]
for i in range(7,71):
  if(i%2==0):
    l.append(str(i))
print(','.join(l))

8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70

In [11]:
for i in range(8,72,2):
    print(i)

8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70

In [12]:
items="without,hello,bag,world"
words= [word for word in items.split(",")] #searches word for word
print(",".join(sorted(words)))

bag,hello,without,world